<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
    <form action="" method="post">
        <table border="1">
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" name="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="text" name="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" rows="5" cols="40" th:text="${board.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" th:onclick="update()">수정</button>
                    <button type="button" onclick="location.href='/board/list'">목록</button>
                </td>
            </tr>
        </table>
    </form>
    <script>
        function update() {
            let id = "[[${board.id}]]"
            location.href = "/board/update?id=" + id
        }
    </script>
</body>
</html>